# Python
__pycache__/
*.py[cod]
*.log

# Django
db.sqlite3
media/
staticfiles/

# Environment
.env

# Virtual environments
venv/
.venv/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Local helper files
tree.txt